<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="all">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix=".php">tests</directory>
        <directory suffix=".php">vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>

